<!-- filepath: /c:/Users/Wesley/Desktop/Proyectos/Bracelet project/BraceletProject/core/templates/core/about.html -->
{% extends "core/layout.html" %}
{% block title %}
    Acerca de
{% endblock %}

{% block content %}

<div class="container px-4 px-lg-5 mt-5">
    <h1 class="mb-3">Acerca de</h1>
    
    <p class="text-justify">
        El objetivo de este proyecto es desarrollar una aplicación web para la venta de pulseras artesanales, con el fin de apoyar a los artesanos locales y promover la cultura nicaragüense.
    </p>
    
    <h2 class="mb-3">Nuestra Misión</h2>
    <p class="text-justify">
        Nuestra misión es proporcionar una plataforma en línea que permita a los artesanos locales vender sus productos a un público más amplio. Queremos ayudar a preservar las tradiciones artesanales y proporcionar una fuente de ingresos sostenible para los artesanos.
    </p>
    
    <h2 class="mb-3">Nuestra Visión</h2>
    <p class="text-justify">
        Nuestra visión es convertirnos en el principal mercado en línea para pulseras artesanales en Nicaragua, conocido por la calidad de nuestros productos y nuestro compromiso con la comunidad artesanal.
    </p>
    
    <h2 class="mb-3">Nuestros Valores</h2>
    <ul class="text-justify">
        <li><strong>Calidad:</strong> Nos comprometemos a ofrecer productos de la más alta calidad.</li>
        <li><strong>Autenticidad:</strong> Valoramos la autenticidad y la originalidad de cada pieza artesanal.</li>
        <li><strong>Sostenibilidad:</strong> Promovemos prácticas sostenibles que beneficien tanto a los artesanos como al medio ambiente.</li>
        <li><strong>Comunidad:</strong> Creemos en el poder de la comunidad y trabajamos para fortalecerla.</li>
    </ul>
    
    <h2 class="mb-3">Contacto</h2>
    <p class="text-justify">
        Si tienes alguna pregunta o deseas más información, no dudes en ponerte en contacto con nosotros a través de nuestro correo electrónico: <a href="mailto:info@pulserasartesanales.com">info@pulserasartesanales.com</a>.
    </p>
</div>

{% endblock %}