>
{% extends 'core/layout.html' %}

{% block title %}
Inicio
{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <h3 style="text-decoration: underline;">Productos más vendidos</h3>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="product-list">
            {% include 'products/product_list.html' %}
        </div>
    </div>
</section>

<script>
    function attachAddToCartEvents() {
        document.querySelectorAll('.add-to-cart').forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                var form = this.closest('form');
                var quantity = parseInt(form.querySelector('input[name="quantity"]').value, 10);

                // Validar cantidad
                if (!quantity || quantity <= 0) {
                    showAlert('La cantidad debe ser mayor que 0', 'warning');
                    return; // Detiene la ejecución para no realizar la petición
                }

                var url = this.href + '?quantity=' + encodeURIComponent(quantity);
                var xhr = new XMLHttpRequest();
                xhr.open('GET', url, true);
                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        document.getElementById('cart-count').innerText = response.cart_count;
                        showAlert('Producto añadido al carrito', 'success');
                    }
                };
                xhr.send();
            });
        });
    }

    function showAlert(message, type) {
        let iconId = "#info-fill";
        if (type === 'warning' || type === 'danger') {
            iconId = "#exclamation-triangle-fill";
        }

        var alertContainer = document.getElementById('alert-container');
        var alert = document.createElement('div');
        alert.className = `alert alert-dark alert-${type} alert-dismissible fade show d-flex align-items-center`;
        alert.role = 'alert';
        alert.innerHTML = `
            <svg class="bi flex-shrink-0 me-2 alert-icon" role="img" aria-label="${type}">
                <use xlink:href="${iconId}"/>
            </svg>
            <div>${message}</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        `;
        alertContainer.appendChild(alert);

        setTimeout(function() {
            var alertInstance = bootstrap.Alert.getOrCreateInstance(alert);
            alertInstance.close();
        }, 1500);
    }

    // Attach event listeners on page load
    document.addEventListener('DOMContentLoaded', attachAddToCartEvents);
</script>
{% endblock %}