body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; 
    letter-spacing: 0.075rem;
    font-size: 1rem; /* Default font size */
}
h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700; 
    letter-spacing: 0.1rem; 
    font-size: 2.5rem; /* Font size for h1 */
}
h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700; 
    letter-spacing: 0.1rem; 
    font-size: 1.75rem; /* Font size for h2 */
}
h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700; 
    letter-spacing: 0.1rem; 
    font-size: 1.5rem; /* Font size for h3 */
}
h4 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700; 
    letter-spacing: 0.1rem; 
    font-size: 1.25rem; /* Font size for h4 */
}
h5 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700; 
    letter-spacing: 0.1rem; 
    font-size: 1rem; /* Font size for h5 */
}
h6 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700; 
    letter-spacing: 0.1rem; 
    font-size: 0.875rem; /* Font size for h6 */
}
p {
    font-size: 0.875rem; /* Font size for p */
}
li {
    font-size: 0.875rem; /* Font size for li */
}

#alert-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
    width: auto;
    max-width: 300px;
}
.alert-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.custom-icon-size {
    font-size: 2rem;
}
.custom-link {
    color: #fff;
    text-decoration: none;
}