<!-- filepath: /c:/Users/Wesley/Desktop/Proyectos/Bracelet project/BraceletProject/products/templates/products/products.html -->
{% extends 'core/layout.html' %}
{% block title %}
Productos
{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <form method="GET" class="mb-4" id="filter-form" action="{% url 'filter_products' %}">
            <div class="row">
                <div class="col-md-4">
                    <select name="category" class="form-select" id="category-select">
                        <option value="">Todas las Categorías</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}" {% if request.GET.category == category.id|stringformat:"s" %}selected{% endif %}>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>

        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="product-list">
            {% include 'products/product_list.html' %}
        </div>
    </div>
</section>
{% endblock %}